---
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Blog Posts</title>
  </head>
  <body>
    <h1>Blog Posts</h1>
    <ul>
      {posts.map(post => (
        <li>
          <h2>{post.data.title}</h2>
          <p>{post.body}</p>
        </li>
      ))}
    </ul>
  </body>
</html>
