---
import Layout from '../layouts/Layout.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome to Astro</title>
  </head>
  <body>
    <main>
      <h1>Welcome to Astro with SSR</h1>
      <p>Edit <code>src/pages/index.astro</code> to get started!</p>
    </main>
  </body>
</html>